<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Common</key>
	<dict/>
	<key>Production</key>
	<dict>
		<key>baseURL</key>
		<string>https://api.foursquare.com</string>
		<key>clientID</key>
		<string>PVCD1HFFL0ZJEOJD2UJF3WGDME0OFX4K31PWVIH1LMGAITU1</string>
		<key>clientSecret</key>
		<string>04MEDW5JU325IMOJNIWACFEZGMG05HVKA34V3C4ZO2HMZUNB</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>baseURL</key>
		<string></string>
	</dict>
</dict>
</plist>
